Titanium_V0.1/Library/
*.Zip
Titanium_V0.1/Titanium_v0.1.Annotation
Titanium_V0.1/__Previews/Titanium_v0.1.AnnotationPreview
Titanium_V0.1/__Previews/Titanium_v0.1.pcbdocPreview
Titanium_V0.1/__Previews/Titanium_v0.1.SchDocPreview
Titanium_V0.1/Project Outputs for Titanium_v0.1/Status Report.Txt
Titanium_V0.1/Project Outputs for Titanium_v0.1/Titanium_v0.1.xlsx
*.LOG
*.htm
/Titanium_V0.1/MiniSTM32_V3.3_SCH1.pdf
*.pcbdocPreview
*.PrjPcbStructure
*.SchDocPreview